.linkplayer {
	position: relative;
/*
	min-height: 64px;
	min-width: 64px;
	width: 320px;
	height: 240px;
	overflow: hidden;
	resize: both;
	background: #AAA;
*/
}

.linkplayer .lpcontrols {
	position: absolute;
	bottom: 32px;
	right: 16px;
	z-index: 10;
	background: gray;
	display: none;
}

.linkplayer:hover .lpcontrols {
	display: block;
}

.linkplayer .lpinfo {
	width: 80px;
	font-family: monospace;
}

.linkplayer .lpbody {
	position: absolute;
	left: 0; right: 0;
	bottom: 0; top: 0;
}

.linkplayer .lpbody iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

.lpplaying {
	border: 5px solid black;
}

.linkplayer .lpcontrols .lpseltext { 
	width: 64px;
	border: 1px solid black;
	background: none;
	display: none; /* actually not using now */
}

.linkplayer .lpnext {
	width: 40px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 32px;
	cursor: e-resize;
}

.linkplayer .lpprev {
	width: 40px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 32px;
	cursor: w-resize;
}

